*.nugetreferenceswitcher
.idea
obj
bin
.vs/
Temp/
packages
Ajax.js
Web.ClientWorkspace/Scripts/Shared/Payments/Payments.js
Web.ClientWorkspace/Scripts/Shared/Payments/Payments.js.map
Web.ClientWorkspace/Scripts/Account/Account.js
Web.ClientWorkspace/Scripts/Account/Account.js.map
Web.ClientWorkspace/Scripts/ScreenSaver/ScreenSaver.js
Web.ClientWorkspace/Scripts/ScreenSaver/ScreenSaver.js.map
Web.ClientWorkspace/Scripts/Shared/Animation.js
Web.ClientWorkspace/Scripts/Shared/Animation.js.map
Web.ClientWorkspace/Scripts/Main/Main.js
Web.ClientWorkspace/Scripts/Main/Main.js.map
Web.ClientWorkspace/Scripts/Main/Live/Live.js
Web.ClientWorkspace/Scripts/Main/Live/Live.js.map
Web.ClientWorkspace/Scripts/Main/Prematch/Prematch.js
Web.ClientWorkspace/Scripts/Main/Prematch/Prematch.js.map
Web.ClientWorkspace/Scripts/Main/Favorites/Favorites.js
Web.ClientWorkspace/Scripts/Main/Favorites/Favorites.js.map
Web.ClientWorkspace/Versions/VersionList.versions
Web.ClientWorkspace/Scripts/cps/reg-form.js
Web.ClientWorkspace/Scripts/cps/reg-form.js.map
Web.ClientWorkspace/Scripts/cps/passport-data.js
Web.ClientWorkspace/Scripts/cps/passport-data.js.map
Web.ClientWorkspace/Scripts/Shared/Sports/Sports.js
Web.ClientWorkspace/Scripts/Shared/Sports/Sports.js.map

Web.ClientWorkspace/Scripts/Shared/Widgets/Sports/*.js
Web.ClientWorkspace/Scripts/Shared/Widgets/Sports/*.js.map

Web.ClientWorkspace/Scripts/Shared/Infrastructure/Behaviours/Widgets/*.js*
Web.ClientWorkspace/Scripts/Shared/Widgets/*.js*


Web.ClientWorkspace/data/
logs/
UpgradeLog*.htm
*.suo
*.user
*.Local.config
PlayerSpace/PlayerSpace.csproj.user
.sass-cache/
*.bak
PlayerSpace
/KrmIdSqlCreator.zip
.cr/Settings.xml
sprite-night.scss
sprite.scss
Web.ClientWorkspace/Content/cps/styles/styles.css
Web.ClientWorkspace/Styles/Main/styles.default.css
Web.ClientWorkspace/Styles/Main/styles.night.css
Web.ClientWorkspace/Styles/images/sprites/sprite-account.png
Web.ClientWorkspace/Styles/images/sprites/sprite-main.png
Web.ClientWorkspace/Styles/images/sprites/sprite-night.png
Web.ClientWorkspace/Styles/Account/styles.css
Web.ClientWorkspace/Styles/Screensaver/styles.css
Web.ClientWorkspace/Scripts/Shared/Infrastructure/**/*.js*
Web.ClientWorkspace/Scripts/Shared/Promocodes/*.js*
Web.ClientWorkspace/Scripts/Shared/Widgets/**/*.js*
Web.ClientWorkspace/Scripts/Shared/Widgets/Reviews/*.js*
Web.ClientWorkspace/Scripts/Shared/Components/**/*.js*
/Web.ClientWorkspace/Scripts/Shared/Main/AIGames/AIGames.js
/Web.ClientWorkspace/Scripts/Shared/Main/AIGames/AIGames.js.map
/Web.ClientWorkspace/Scripts/Shared/Modules/ContentSlider.js
*.orig
/Web.ClientWorkspace/Scripts/Shared/Modules/ContentSlider.js.map
/Web.ClientWorkspace/Scripts/Shared/SignalR/SignalR.js
/Web.ClientWorkspace/Scripts/Shared/SignalR/SignalR.js.map
/Web.ClientWorkspace/Content/cps/images/sprites/sprite-main.png
/Web.ClientWorkspace/Content/cps/images/sprites/sprite-night.png
/Web.ClientWorkspace/Content/krm/images/sprites/sprite-account.png
/Web.ClientWorkspace/Content/krm/images/sprites/sprite-main.png
/Web.ClientWorkspace/Content/krm/images/sprites/sprite-night.png
symbols.html
*.ncrunchsolution
/Web.ClientWorkspace/Scripts/cps/Profile/profile.js
/Web.ClientWorkspace/Scripts/cps/Profile/profile.js.map
*crunchsolution.cache
*executiontimes.cache
*cache.*ncrunchproject
/node_modules
/Web.Administration/node_modules/**
/Web.Administration/App_Data/**
/Web.Administration/Content/styles/styles.min.css
/Web.Administration/Scripts/Webpack/build/**
/Web.Administration/package-lock.json
/Web.Administration/Scripts/build/**/*js*
/Web.Administration/Scripts/Components/*.js*
/Web.Administration/Scripts/Modules/**/*.js*
/Web.Administration/Scripts/Shared/Infrastructure/**/*.js*
/Web.Administration/wwwroot/content/src/images/sprites/**

*.dbmdl
*.jfm
/**/*.ncrunchproject
/_NCrunch_*
/Web.ClientWorkspace/Scripts/Shared/Main/Live/BinderTextScroll.js
/Web.ClientWorkspace/Scripts/Shared/Main/Live/BinderTextScroll.js.map

**/MSBuild_Logs/**
/Web.ClientWorkspace/Scripts/Shared/Vue/**/*.js
/Web.ClientWorkspace/Scripts/Shared/Vue/**/*.js.map
/Web.ClientWorkspace/Scripts/Shared/DataLayer/**/*.js
/Web.ClientWorkspace/Scripts/Shared/DataLayer/**/*.js.map
/Web.ClientWorkspace/Scripts/unicom/Vue/**/*.js
/Web.ClientWorkspace/Scripts/unicom/Vue/**/*.js.map
/Uni.Site.Db/*.dbmdl
/Uni.Site.Db/*.jfm
/.cr/*
/package-lock.json
